@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

   .clip-path-about {

      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
   }
   .clip-path-skills {

      clip-path: polygon(0 20%, 25% 40%, 50% 20%, 75% 40%, 100% 20%, 100% 100%, 0 100%);

   }

}
@keyframes fade-in {
   0% {
     opacity: 0;
     transform: translateX(-200px);
   }
   100% {
     opacity: 1;
     transform: translateX(0);
   }
 }
 
 .animate-fade-in {
   animation-name: fade-in;
   animation-duration: 2s;
   animation-delay: 0.5s;
 }